{% load i18n %}{% autoescape off %}
{% blocktrans %}Vous recevez ce email parce que vous avez souhaité réinitialiser votre mot de passe chez {{ site_name }}.{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'comptes:password-reset-confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Your login email, in case you've forgotten, is same this email address:" %} {{ user.get_username }}

{% trans "Merci d'utiliser nos services!" %}

{% blocktrans %}L'équipe {{ site_name }} {% endblocktrans %}

{% endautoescape %}

